{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card card-chart">
                    <div class="card-header ">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <h5 class="card-category">Total Imóveis Cadastrados</h5>
                                <h2 class="card-title">Quantidade de Imóveis / Mensais</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="qtd_imoveis"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">Tipos de Taxação</h5>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="taxacaoChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">Tipos de Patrimônio</h5>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="PatrimonioChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">Quantidade de Lotes</h5>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas 
                            id="lotesChart" 
                            data-total-lotes="{{ total_lotes_distintos }}" 
                            data-lotes-sem-construcao="{{ lotes_com_area_zero }}">
                        </canvas>
                        <p>Total Lotes Distintos (formatado): {{ total_lotes_distintos_formatado }}</p>
                        <p>Lotes Sem Construção (formatado): {{ lotes_com_area_zero_formatado }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5> Valor bruto de IPTU</h5>
                    </div>
                    <div class="card-body">
                        <h2>R$ {{valor_iptu_estimado}}</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="CountryChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="chartLineGreen"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Meus scripts -->

<script>
    const taxacaoLabels = {{ taxacao_labels|safe }};
    const taxacaoData = {{ taxacao_data|safe }};
</script>

<script>
    const patrimonioLabels = {{ patrimonio_labels|safe }};
    const patrimonioData = {{ patrimonio_data|safe }};
</script>

<script src="{% static 'assets/demo/LotesChart.js' %}"></script>
<script src="{% static 'assets/demo/ImoveisChart.js' %}"></script>
<script src="{% static 'assets/demo/TaxacaoChart.js' %}"></script>
<script src="{% static 'assets/demo/PatrimonioChart.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

{% endblock javascripts %}
